 .btn_1 {
	BORDER-BOTTOM: #004b7a 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #7ce4f8 1px solid; BACKGROUND-COLOR: #00aee0; WIDTH: 80px; HEIGHT: 28px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #7ce4f8 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #004b7a 1px solid
}
.btn_2 {
	BORDER-BOTTOM: #004b7a 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #7ce4f8 1px solid; BACKGROUND-COLOR: #00aee0; WIDTH: 80px; HEIGHT: 28px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #7ce4f8 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #004b7a 1px solid
}
.MODAL {
	FILTER: alpha(opacity=60); BACKGROUND-COLOR: #333435; opacity: 0.55
}
.VISTA {
	FONT-SIZE: 1px
}
.VISTA .LEFT_TOP {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px; HEIGHT: 34px
}
.VISTA .TOP {
	BACKGROUND-IMAGE: url(new_title.gif); BACKGROUND-COLOR: #dddddd; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center bottom; HEIGHT: 34px
}
.VISTA .RIGHT_TOP {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px; HEIGHT: 34px
}
.VISTA .RIGHT {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px
}
.VISTA .RIGHT_BOTTOM {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px; HEIGHT: 8px
}
.VISTA .RIGHT_BOTTOM_BY_BUTTON {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px; HEIGHT: 8px
}
.VISTA .BOTTOM {
	BACKGROUND-COLOR: #dddddd; HEIGHT: 8px
}
.VISTA .BOTTOM_BY_BUTTON {
	BACKGROUND-COLOR: #dddddd; HEIGHT: 56px
}
.VISTA .LEFT_BOTTOM {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px; HEIGHT: 8px
}
.VISTA .LEFT_BOTTOM_BY_BUTTON {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px; HEIGHT: 8px
}
.VISTA .LEFT {
	BACKGROUND-COLOR: #dddddd; WIDTH: 8px
}
.VISTA .RESIZE {
	WIDTH: 8px; BOTTOM: 8px; HEIGHT: 8px; RIGHT: 8px
}
.VISTA .CLOSE {
	WIDTH: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px; COLOR: #9b999a; FONT-SIZE: 20px; TOP: 8px; CURSOR: pointer; RIGHT: 0px; FONT-WEIGHT: bold
}
.VISTA .CONTENT {
	BORDER-BOTTOM: #bebebe 1px solid; BORDER-LEFT: #bebebe 1px solid; BACKGROUND-COLOR: #f7f7f7; BORDER-TOP: #bebebe 1px solid; TOP: 0px; BORDER-RIGHT: #bebebe 1px solid; LEFT: 0px
}
.VISTA .CONTENT .FORM {
	PADDING-BOTTOM: 12px; MARGIN: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; FONT-SIZE: 15px; PADDING-TOP: 12px
}
.VISTA .TITLE {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 16px; PADDING-RIGHT: 60px; HEIGHT: 15px; COLOR: #fa047a; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 15px
}
.VISTA .TITLE SPAN {
	BACKGROUND-IMAGE: url(TITLE_BK.png); PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 2px
}
.VISTA .BUTTON {
	TEXT-ALIGN: right; PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.VISTA .BUTTON BUTTON {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px 7px; PADDING-LEFT: 0px; WIDTH: 77px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.VISTA .BUTTON .DISABLED {
	FILTER: alpha(opacity=36); opacity: 0.36
}
.VISTA .BUTTON .OK {
	BACKGROUND-IMAGE: url(../img/OK.gif); CURSOR: pointer
}
 