{sys, [
       {lib_dirs, ["../../", "../lib", "../lib/mongodb/deps"]},
       {rel, "server", "1",
        [
         kernel,
         stdlib,
         sasl,
%%	 tcp_server,
	 mongodb,
	 bson,
	 erlsom,
	 server
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "server"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       %% Including HiPE can cause issues generating your first upgrade.
       %% If you plan to distribute HiPE in your release remove the
       %% following line.
       {app, hipe, [{incl_cond, exclude}]},

       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "server"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/server", "bin/server"},
           {copy, "files/sys.config", "etc/app.config"},
           {copy, "files/server.cmd", "bin/server.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "etc/vm.args"},
	   {copy, "../ebin/template/", "./"},
	   {copy, "../ebin/yy_template/", "./"},
	   {copy, "../ebin/db_update.cfg", "./"},
	   {copy, "../priv/server_drv.so", "./packet_crypto.so"}
          ]}.
